{% extends "base_sample.html" %}
{% load static %}
{% block title %}Создание заявки{% endblock %}



{% block content %}
<H1>Создание заявок</H1>
<div class="auth-page">
    <div class="auth-oval">
        <H1 xmlns="http://www.w3.org/1999/html" class="auth-title">Создание заявки</H1>
        {% if form.errors %}
        <div class="auth-error">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span>Ваш логин и пароль не совпадают. Попробуйте снова!</span>
        </div>
        {% endif %}
        <form method="post" action="{% url 'create_application' %}">
            {% csrf_token %}
            {% for field in form %}
           <div class="auth-field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <span class="auth-error-text">{{ field.errors }}</span>
            {% endif %}
        </div>
    {% endfor %}
            <button type="submit" class="auth-btn">Создать</button>
        </form>
    </div>
</div>

{% endblock %}