{% extends "base_sample.html" %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<div class="auth-page">
    <div class="auth-oval">
        <H1 xmlns="http://www.w3.org/1999/html" class="auth-title">Авторизация</H1>
        {% if form.errors %}
        <div class="auth-error">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span>Ваш логин и пароль не совпадают. Попробуйте снова!</span>
        </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="auth-field">
                <label for="id_username">Логин</label>
                <input type="text" name="username" class="form-control" required id="id_username" autofocus>
            </div>
            <div class="auth-field">
                <label for="id_password">Пароль</label>
                <input type="password" name="password" class="form-control" autocomplete="current-password" required
                       id="id_password">
            </div>
            <button type="submit" class="auth-btn">Войти</button>
        </form>
    </div>
</div>
{% endblock %}


